$sizes: (
    5: 1,
    10: 2,
    15: 3,
    20: 4,
    25: 5,
    30: 6,
    35: 7,
    40: 8,
    45: 9,
    50: 10,
    55: 11,
    60: 12,
    65: 13,
    70: 14,
    75: 15,
    80: 16,
    90: 18,
    95: 19,
    100: 20,
);
$gutter: 16px;

.grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: $gutter;
}

@each $size, $column_size in $sizes {
    .col-#{$size} {
        grid-column: auto/span $column_size;
    }

    .col-m#{$size} {
        @include breakpoint('mobile') {
            grid-column: auto/span $column_size;
        }
    }
}

$columns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $column in $columns {
    .grid-#{$column} {
        display: grid;
        grid-template-columns: repeat(#{$column}, 1fr);
    }
}

$gaps: 1 2 3 4 5 6 7 8 9 10 15 16 20 25 30 35 40 45 50;
@each $gap in $gaps {
    .gap-#{$gap} {
        gap: #{$gap}px;
    }
}
