$sizes: (
    5: 1,
    10: 2,
    20: 4,
    25: 5,
    30: 6,
    33: 7,
    40: 8,
    50: 10,
    60: 12,
    66: 14,
    70: 14,
    75: 15,
    80: 16,
    90: 18,
    95: 19,
    100: 20,
);
$gutter: 16px;

.grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: $gutter;
}

@each $size, $column_size in $sizes {
    .col-#{$size} {
        grid-column: auto/span $column_size;
    }

    .col-m#{$size} {
        @include breakpoint('mobile') {
            grid-column: auto/span $column_size;
        }
    }
}
