.datepicker {
    position: relative;
}

.datepicker__value {
    @extend .input;
    display: block;
    width: 220px;
    cursor: pointer;
    user-select: none;

    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.datepicker__popup {
    display: flex;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 20;
    overflow: hidden;
    min-width: 124px;
    border: 1px solid rgba($primary, 0.5);
    border-radius: 6px;
    background: $bg-light;
    box-shadow: 0 4px 14px 0 rgba(34, 41, 47, 0.1);
    list-style-type: none;

    @include theme() {
        border: 1px solid $primary;
        background: $bg-light--dark;
    }

    .datepicker.right & {
        left: auto;
        right: 0;
    }
}

.datepicker__picker,
.daterangepicker__picker {
    .mx-datepicker-main {
        border-color: $border;
        background: $bg-light;
        color: $text;
        font-size: 14px;
        font-family: $font;

        @include theme() {
            border-color: $border--dark;
            background: $bg-light--dark;
            color: $text--dark;
        }
    }

    .mx-calendar + .mx-calendar {
        border-color: $border;

        @include theme() {
            border-color: $border--dark;
        }
    }

    .mx-datepicker-footer {
        border-color: $border;

        @include theme() {
            border-color: $border--dark;
        }
    }

    .mx-table-date .today {
        background: rgba($bg, 0.3);
        color: $primary;

        @include theme() {
            background: rgba($bg--dark, 0.3);
            color: $primary--dark;
        }
    }

    .mx-calendar-content .cell:hover {
        border-radius: 4px;
        background: $bg;
        color: $text;

        @include theme() {
            background: $bg--dark;
            color: $text--dark;
        }
    }

    .mx-datepicker-btn-confirm {
        @extend .btn;
        @extend .btn--small;
        @extend .btn--auto;
    }

    .mx-datepicker-main {
        border-top: none;
        border-bottom: none;
    }

    .mx-table-date .cell.not-current-month {
        background: rgba($bg, 0.8);
        color: rgba($text, 0.8);

        @include theme() {
            background: rgba($bg--dark, 0.2);
            color: rgba($text--dark, 0.8);
        }
    }

    .mx-calendar-content .cell:not(.active):not(.in-range) + .cell.active {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .mx-calendar-content .cell.in-range + .cell.active {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .mx-calendar-content .cell.active {
        background: $primary;

        @include theme() {
            background: $primary2--dark;
        }
    }

    .mx-calendar-content .mx-table-date .cell.in-range {
        border-radius: 0;
        background: $bg;
        color: rgba($primary, 0.7);

        @include theme() {
            background: rgba($bg--dark, 0.4);
            color: rgba($primary--dark, 0.6);
        }
    }

    .mx-calendar-content .cell.hover-in-range {
        border-radius: 0;
        background: $bg;
        color: rgba($primary, 0.6);

        @include theme() {
            background: rgba($bg--dark, 0.4);
            color: rgba($primary--dark, 0.6);
        }
    }

    .mx-btn {
        &:hover, &:active, &:focus {
            color: $primary;

            @include theme() {
                color: $primary2--dark;
            }
        }
    }

    .mx-btn-current-year,
    .mx-btn-current-month {
        color: $text;
        font-family: $font;
        font-size: 18px;
        font-weight: normal;

        @include theme() {
            color: $text--dark;
        }
    }
}
