.minitable {
    td {
        padding: 4px;
        border-bottom: 1px solid $border;
        vertical-align: top;

        @include theme() {
            border-color: $border--dark;
        }
    }

    tr:last-child td {
        border: none;
    }
}
