.title {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    margin: 0 0 20px;
}

.heading-small {
    margin: 0 0 4px;
    font-size: 14px;
    font-weight: bold;
}
